<!DOCTYPE html>
<html>
  <head>
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/magnific-popup.css" rel="stylesheet" media="screen">
    <link href="/static/css/custom.css" rel="stylesheet">
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
  </head>
  <body>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <nav>
          <ul class="nav nav-pills pull-left">
            <li><a href="#" class="brand">Recrutamento</a></li>
            <li><a href="/">Cadastrar</a></li>
            <li><a href="/report">Relatório</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  </body>
</html>
