{% extends "base.html" %}
{% block body %}

<div class="container_internal center hero-unit">
    {% for message in form.name.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    <form class="form-horizontal" action="/" method="post">
        {{form.hidden_tag()}}
        <p>
        <div class="control-group">
            {{form.name.label(class="control-label")}}
            <div class="controls">
                {{form.name}}
            </div>
        </div>
        <p>
        </p>
        <div class="control-group">
            {{form.email.label(class="control-label")}}
            <div class="controls">
                {{form.email}}
            </div>
        </div>
        <p>
        </p>
        <div class="control-group">
            {{form.twitter.label(class="control-label")}}
            <div class="controls">
                {{form.twitter}}
            </div>
        </div>
        </p>
        <p>
        <label>English:</label>
        <span>
            <input checked="checked" type="radio" name="English" value="Não sei" id="english_1" />
            <label for="english_1">Não sei</label>
        </span>
        <span>
            <input type="radio" name="English" value="Padawan" id="english_2" />
            <label for="english_2">Padawan</label>
        </span>
        <span>
            <input type="radio" name="English" value="Regular" id="english_3" />
            <label for="english_3">Regurar</label>
        </span>
        <span>
            <input  type="radio" name="English" value="Muito" id="english_4" />
            <label for="english_4">Muito</label>
        </span>
        <span>
            <input type="radio" name="English" value="Jedi" id="english_5" />
            <label for="english_5">Jedi</label>
        </span>
        </p>
        <p>
        <label>Python:</label>
        <span>
            <input checked="checked" type="radio" name="Python" value="Não sei" id="python_1" />
            <label for="python_1">Não sei</label>
        </span>
        <span>
            <input type="radio" name="Python" value="Padawan" id="python_2" />
            <label for="puthon_2">Padawan</label>
        </span>
        <span>
            <input type="radio" name="Python" value="Regular" id="python_3" />
            <label for="python_3">Regurar</label>
        </span>
        <span>
            <input  type="radio" name="Python" value="Muito" id="python_4" />
            <label for="pyhon_4">Muito</label>
        </span>
        <span>
            <input type="radio" name="Python" value="Jedi" id="python_5" />
            <label for="python_5">Jedi</label>
        </span>
        </p>
        <p>
        <label>Django:</label>
        <span>
            <input checked="checked" type="radio" name="Django" value="Não sei" id="django_1" />
            <label for="django_1">Não sei</label>
        </span>
        <span>
            <input type="radio" name="Django" value="Padawan" id="django_2" />
            <label for="django_2">Padawan</label>
        </span>
        <span>
            <input type="radio" name="Django" value="Regular" id="django_3" />
            <label for="django_3">Regurar</label>
        </span>
        <span>
            <input  type="radio" name="Django" value="Muito" id="django_4" />
            <label for="django_4">Muito</label>
        </span>
        <span>
            <input type="radio" name="Django" value="Jedi" id="django_5" />
            <label for="django_5">Jedi</label>
        </span>
        </p>
        <p>
        {{form.submit(class="btn btn-primary")}}
        </p>    
    </fieldset>
</form>
</div>
{% endblock %}
