{% extends "base.html" %}
{% block body %}
<div class="container_internal">
    {% for candidate in candidates  %}
    <div class="candidate">
        <p>
        <div>
            Candidato: <a class="simple-ajax-popup" href="/show?id={{candidate.id}}"> <strong>{{candidate.name}}</strong> </a>
            Email: <a href="mailto:{{candidate.email}}"<strong>{{candidate.email}}</strong> </a>
            Twitter <a href="http://www.twitter.com/{{candidate.twitter}}"<strong>{{candidate.twitter}}</strong></a>
        </div>
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}
