<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />
</head>
<body>
<div class="container_show">
<p>
<div>
  Candidato: <strong>{{candidate.name}}</strong> 
  Email: <a href="mailto:{{candidate.email}}"<strong>{{candidate.email}}</strong> </a>
  Twitter <a href="http://www.twitter.com/{{candidate.twitter}}"<strong>{{candidate.twitter}}</strong></a>
</div>
<p/>
<p>
<div>
  {% for skill in candidate.skills %}
  {{ skill.knowledge.description }} : <strong>{{skill.level}}</strong>
  {% endfor %}
</div>
<p/>

</div>
{% block body %}{% endblock %}
</body>
</html>
