{% extends "base.html" %}
{% block body %}
<div class="container_internal">
    <div class="success">
        <h2> Obrigado por se cadastrar </h2>
        <h1>{{candidate.name}}</h1>
    </div>
</div>
{% endblock %}
